html,
body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: black;
}
img{
	width: 100%;
}

*{
	box-sizing: border-box;
}

footer {
	display: flex;
	background-color: black;
	color: white;
}



ul{
	padding: 0;
	list-style: none;
}

/*-------------------------------*/

.descuento_header{
	display: flex;
	height: 1.5rem;
	background: yellow;
	position: sticky;
	top: 0;
	z-index: 100;
}
.descuento{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: auto;
}
/*-------------------------------*/
.navbar-brand{
	width: 500px;
    height: auto;
    padding: 10px;

}
.navbar{
	display: flex;
	background: black;
	height: auto;
	position: sticky;
	top: 0;
	z-index: 100;
}

.conteienr-fluid{
	display: flex;
	flex-wrap: wrap;
}

.nav-item a:hover {
	color: yellow;
	text-decoration: underline;
}

.nav-item a{
	text-decoration: none;
	transition-property: color;
	transition-duration: 1s;
	color: white;
}

a {
	list-style: none;
	color: white;
	text-decoration: none;
}

.dropdown-menu {
	background-color: black;
}

.dropdown-menu a{
	text-decoration: none;
	transition-property: color;
	transition-duration: 1s;
	color: white;
}

.dropdown-menu a:hover {
	color: black;
	text-decoration: underline;
	text-decoration: blink;
}

.btn {
	background-color: white;
}

/*------------------------------------------*/
.bienvenido {
    background-image: url(../imagenes/home_banner_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bienvenido_titulo h1 {
    color: white;
    text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
    font-size: 5rem;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: -3px;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-bottom: 1px solid;
}

.bienvenido_titulo span {
	position: absolute;
	right: 0;
	width: 0;
	background: space;
	border-left: 5px solid;

	animation: maquina 3s infinite alternate steps(21);

}

@keyframes maquina {
	from {
		width: 100%;
	}
	to{
		width: 0;
	}
}
/*------------------------------------------------------*/
.marcas{
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: white;
}

.imagenes_marcas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.imagenes_marcas img{
	width: 100px;
	height: 100px;
	
}

/*----------------------------------------------------*/



/*----------------------------------------------------*/



.carrusel {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.carrusel {
	position: relative;
	height: 400px;
	width: 100%;
	overflow: hidden;
	box-shadow: 0px 10px 15px rgba(0, 0, 0,.50);
	cursor: pointer;
}

.carrusel img{
	transform: perspective(600px) rotateY(180degh);
	width: 100%;
	height: 100%;
	padding: 4px;
}
.carrusel:hover {
	transform: rotate(360deg);
	transition-duration: 2s;
}


/*----------------------------------------------------*/
.footer {
	display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    background-color: black;
    margin: auto;
    padding: 0.3rem 0;
}
.ayuda_footer .logo_footer .redes_footer{
	display: flex;
    justify-content: center;
    align-items: center;
}
.ayuda_footer h3{
	padding-left: 1rem;
	margin-top: 1rem;
}
.ayuda_footer a{
	text-decoration: none;
	padding-left: 2rem;
}
.logo_footer img{
	width: 80%;
	margin-top: 2rem;
}
.redes_footer{
	display: flex;
	justify-content: center;
    align-items: center;
}

/*
.seccionfooter h3{{
	margin-left: 5%;
{}}


.seccionfooter1{
	margin-left: 5%;
	justify-content: flex-start;
	flex: 1;
}
.footer2{
	display: flex;
	align-items: center;
    text-align: center;
	justify-content: center;
}

.footer3{
	margin-left: 10%;
	list-style: none;
	}

.footer3 h3{ 
	display: flex;
	flex: 1;
}
*/
/*--------------------------*/

@media (max-width: 480px)
	
	.menu{
		flex-wrap: wrap;
	}
	
	.menu_ul{
		margin: 0 0;
		justify-content: center;
	}

	.menu
	.menu_ul{
		display: flex;
		justify-content: center;
	}
}
/*--------------------------*/

.likes {
	width: auto;
}
.bolsa {
	width: auto;
}
.logo {
	width: 30%;
	margin-left: 5%;
}
.seccion2 {
	width: 100%;
}
.seccion4 img{
	width: 100%;
}

/*--------------------TRANSICIONES--------------------------------*/




/*------------------------------------------------------------------*/
